@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap");
@import "tailwindcss";
@theme {
  --color-main: #500d08;
  --color-bg: #2d2d39;
  --color-text: #f9d1d8;
  --font-main: "BBH Bartle";
}
* {
  box-sizing: border-box;
}
html {
  scrollbar-width: none;
}
